{% extends 'base.html' %}
{% load static %}

{% block title %}
    : Assistant Bot
{% endblock title %}




{% block script %}
<script>
    window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        // eligible speech
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;

        recognition.lang = 'en-US';
        function speak(text) {
            const msg = new SpeechSynthesisUtterance(text);

            msg.rate = 1;
            msg.volume = 1;
            msg.pitch = 1;

            window.speechSynthesis.speak(msg);
        };
        
        console.log('This is the Status Before: ', localStorage.getItem('status'));
        console.log('This is the Mode Before: ', localStorage.getItem('mode'));

        if (!localStorage.getItem('status')) {
    // If not, set a pre-determined default value
            localStorage.setItem('mode', 'English'); 
            localStorage.setItem('status', true);
        };


        var csrfToken = getCookie('csrftoken');
        console.log('This is the Token:', csrfToken);
        var currentUrl = window.location.href;

        let buttonStatus = document.getElementById('buttonStatus');
        let contentMode = document.getElementById('content');

       // displays current language mode dynamically
        if (localStorage.getItem('mode') == 'Filipino') {
            contentMode.textContent = localStorage.getItem('mode');
        } else {
            contentMode.textContent = localStorage.getItem('mode');
        }

        // TRUE for ENGLISH && FALSE for FILIPINO
        // Trigger for LocalStorage and for Dynamic values
        buttonStatus.addEventListener('click', function () {
            let status = localStorage.getItem('status');
           
           console.log('Hello')

           if (status === 'true') {
               localStorage.setItem('mode', 'Filipino'); 
               contentMode.textContent = localStorage.getItem('mode');
               localStorage.setItem('status', false);
           } else {
               localStorage.setItem('mode', 'English'); 
               contentMode.textContent = localStorage.getItem('mode');
               localStorage.setItem('status', true);
           }
           

           console.log('This is the Status After: ', localStorage.getItem('status'));
           console.log('This the language mode:', localStorage.getItem('mode'))
        });

        // CSRF TOKEN 
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                console.log('This is inside 2nd Cookie:', cookieValue)
                return cookieValue;
            };

        // <--- Request Details by Clicking --->
            let mainElement = document.querySelector('main');
            mainElement.onclick = function () {
           
           const Pdetails = document.querySelectorAll('p');
           let allPdetails = [];
          
           // console.log(Pdetails.length)

               Pdetails.forEach(function(paragraph, index) {
                   var paragraphContent = paragraph.textContent;
                   allPdetails.push(paragraphContent);
               });
            
               console.log(allPdetails.slice(-2))
              
               fetch("{% url 'assistantbot' %}", {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                       'X-CSRFToken': csrfToken,
                   },
                   body: JSON.stringify({
                       key: 'tap-detail-home',
                       details: allPdetails.slice(-2),
                       status: JSON.parse(localStorage.getItem('status')),
                    //    prompt: promptData,
                   }),
               })
               .then(response => response.json())
               .then(data => {
                   console.log('Success', data);
               })
               .catch((error) => {
                   console.error('Error', error);
               });
              
       };
       
       const texts = document.querySelector('#texts')
       let p = document.createElement('p')
    
        // <--- THIS IS FOR NAVIGATION AND SPEAKING LOCATION PAGE --->
        window.addEventListener('load', () => {
           
            recognition.addEventListener('result', (e) => {
            const text = Array.from(e.results)
            .map(result => result[0])
            .map(result => result.transcript)
            .join('');

            console.log(text);
            
            // Navigation -> Thru Voice 
            if(e.results[0].isFinal) {

                // <--- Feature Request --->
                if (text.startsWith('request')) {

                    let output = text.replace(/^request\s*/, "")
                    
                    p = document.createElement('p');       
                    p.classList.add('request')
                    p.classList.add('text-white-50', 'py-2', 'pe-3', 'border', 'border-secondary', 'rounded');
                    p.innerText = output[0].toUpperCase() + output.slice(1) + '?';
                    texts.appendChild(p);
                    

                    fetch("{% url 'chatbot' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            key: 'assistant',
                            details: output,
                            status: JSON.parse(localStorage.getItem('status')),
                            
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        chatbot_reply = document.createElement('p');
                        chatbot_reply.classList.add('reply');
                        chatbot_reply.classList.add('text-white-50', 'py-2', 'ps-3', 'border', 'border-success', 'rounded')
                        chatbot_reply.innerText = data.generatedText; //This is where the processed data will be putted.
                        texts.appendChild(chatbot_reply);

                        console.log('Success', data)
                        // SECOND FETCH FOR VOICE
                        fetch("{% url 'assistantbot' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            key: 'assistant',
                            details: data.generatedText,
                            status: JSON.parse(localStorage.getItem('status')),
                            //    prompt: promptData,
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                       console.log('data')
                        
                        
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                        
                        
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }



                if (text === 'home') {
                    window.location.href = "{% url 'index' %}"
                    // speak('you are going to home page.')
                    // speak('you are going to newsfeed page.')
                    fetch("{% url 'index' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            key: 'home',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    
                }
                else if (text === 'guidelines') {
                    window.location.href = "{% url 'guidelines' %}"
                    // speak('you are going to user-guidelines page.')
                }
                // Audio Apps
                else if (text === 'audiobook') {
                    window.location.href = "{% url 'audio_book' %}"
                    // speak('you are goint to audio book page.')
                }
                else if (text === 'music') {
                    window.location.href = "{% url 'audio_music' %}"
                    // speak('you are going to music page.')
                }
                // Info Apps
                else if (text === 'assistant') {
                    window.location.href = "{% url 'assistantbot' %}"
                    // speak('you are going to assistant bot page.')
                }
                else if (text === 'time') {
                    window.location.href = "{% url 'current_time_date' %}"
                    // speak('you are going to date and time page.')
                    
                }
                else if (text === 'location') {
                    window.location.href = "{% url 'location' %}"
                    // speak('you are going to location page.')      
                }
                else if (text === 'news'){
                    window.location.href = "{% url 'newsfeed' %}"
                    
                }
                else if (text === 'motivation') {
                    window.location.href = "{% url 'motivation' %}"
                    // speak('you are going to motivation page')
                    fetch("{% url 'motivation' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            key: 'motivation',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'technology') {
                    window.location.href = "{% url 'technologies' %}"
                    // speak('You are going to technology page.')
                    fetch("{% url 'technologies' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            key: 'technology',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }

                else if (text.startsWith('set') && text.includes('english')){
                    if (localStorage.getItem('mode') == 'English') {
                        // speak('language already set in English mode.');
                    } else {
                        // speak('setting language to english mode.')
                        localStorage.setItem('mode', 'English'); 
                        contentMode.textContent = localStorage.getItem('mode');
                        localStorage.setItem('status', true);    
                    }
                }
                else if (text.startsWith('set') && text.includes('filipino')) {
                    if (localStorage.getItem('mode') == 'Filipino') {
                        // speak('language already set in Filipino mode.');
                    } else {
                        // speak('setting language to filipino mode.');
                        localStorage.setItem('mode', 'Filipino'); 
                        contentMode.textContent = localStorage.getItem('mode');
                        localStorage.setItem('status', false);
                    }
                }
            };
        });


        recognition.addEventListener('end', (e) => {
           recognition.start(); 
        });

        recognition.start();
    });
</script>
{% endblock script %}

{% block content %}
<div class="container-lg">
    <div class="row min-vh-100 d-flex flex-column justify-content-center align-items-center ">

        <div class="col-lg-6 align-self-lg-center text-center mt-2" data-aos="fade-right">
            <h1 class="fw-bolder text-center text-white-50 "><i class="bi bi-robot"></i> BlindAlly Bot</h1>
        </div>
       
        <div id="scroll-pane" class="container">
            <div class="row">
                <div class="col" id="texts">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}