[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
django-livereload-server = "*"
django-configurations = "*"
pyttsx3 = "*"
whitenoise = "*"
gtts = "*"
playsound = "==1.2.2"
python-dotenv = "*"
openai = "==0.28"
googletrans = "==3.1.0a0"
keyboard = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
