[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
django-livereload-server = "*"
django-configurations = "*"
pyttsx3 = "*"
whitenoise = "*"
gtts = "*"
playsound = "==1.2.2"
python-dotenv = "*"
openai = "*"
googletrans = "==4.0.0-rc1"
keyboard = "*"
requests = "*"
geopy = "==2.4.1"
g4f = "*"
beautifulsoup4 = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
