{% extends 'base.html' %}
{% load static %}

{% block title %}
    : Audio Book
{% endblock title %}


{% block script %}
<script>
   window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        // eligible speech
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;

        recognition.lang = 'en-US';
        function speak(text) {
            const msg = new SpeechSynthesisUtterance(text);

            msg.rate = 1;
            msg.volume = 1;
            msg.pitch = 1;

            window.speechSynthesis.speak(msg);
        };
        
        console.log('This is the Status Before: ', localStorage.getItem('status'));
        console.log('This is the Mode Before: ', localStorage.getItem('mode'));

        if (!localStorage.getItem('status')) {
    // If not, set a pre-determined default value
            localStorage.setItem('mode', 'English'); 
            localStorage.setItem('status', true);
        };


        var csrfToken = getCookie('csrftoken');
        console.log('This is the Token:', csrfToken);
        var currentUrl = window.location.href;

        let buttonStatus = document.getElementById('buttonStatus');
        let contentMode = document.getElementById('content');

       // displays current language mode dynamically
        if (localStorage.getItem('mode') == 'Filipino') {
            contentMode.textContent = localStorage.getItem('mode');
        } else {
            contentMode.textContent = localStorage.getItem('mode');
        }

        // TRUE for ENGLISH && FALSE for FILIPINO
        // Trigger for LocalStorage and for Dynamic values
        buttonStatus.addEventListener('click', function () {
            let status = localStorage.getItem('status');
           
           console.log('Hello')

           if (status === 'true') {
               localStorage.setItem('mode', 'Filipino'); 
               contentMode.textContent = localStorage.getItem('mode');
               localStorage.setItem('status', false);
           } else {
               localStorage.setItem('mode', 'English'); 
               contentMode.textContent = localStorage.getItem('mode');
               localStorage.setItem('status', true);
           }
           

           console.log('This is the Status After: ', localStorage.getItem('status'));
           console.log('This the language mode:', localStorage.getItem('mode'))
        });

        let player;
        // RETRIEVING SAVED DATA TO DISPLAY --> AudioBook
        if (localStorage.getItem('videoId') !== null && JSON.parse(localStorage.getItem('isPlayingVideo'))) {
            // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
          
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // 3. This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.

        
          function onYouTubeIframeAPIReady() {
            var savedVideoId = localStorage.getItem('videoId');
            if (savedVideoId) {
                
                player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: savedVideoId,
                playerVars: {
                    'playsinline': 1,
                    'autoplay': 1,
                    'origin': "https://www.youtube.com",
                },
                events: {
                    'onReady': onPlayerReady,
                    // 'onStateChange': onPlayerStateChange
                }
                });  
                // localStorage.setItem('iplayer', JSON.stringify(player))
                // console.log()
            } 
          }

          // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
            event.target.playVideo();
          }
          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          // var done = false;
          // function onPlayerStateChange(event) {
          //   if (event.data == YT.PlayerState.PLAYING && !done) {
          //     setTimeout(stopVideo, 6000);
          //     done = true;
          //   }
          // }
          function changeVideo(videoId) {
            
            if (player) {
            player.loadVideoById(videoId);
            } else {
            console.error('Player not initialized!');
            }
        }
          function stopVideo() {
            
            player.stopVideo();
          }

          function pauseVideo() {
             
             console.log(player.pauseVideo())
            if (player.pauseVideo) {
              player.pauseVideo();
            } 
          }

          function playVideo() {
            // player = JSON.parse(localStorage.getItem('iplayer'))
            console.log(player.playVideo)
            if (player.playVideo) {
              player.playVideo();
            
            } 
          }
        } else {
            document.querySelector('#audiobook-gif').style.display = 'block';
        };

        // CSRF TOKEN 
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                console.log('This is inside 2nd Cookie:', cookieValue)
                return cookieValue;
            };

        // <--- Request Details by Clicking --->
            let mainElement = document.querySelector('main');

            mainElement.onclick = function () {
            console.log(JSON.parse(localStorage.getItem('isPlayingVideo')), typeof(localStorage.getItem('isPlayingVideo')))
           
            if (JSON.parse(localStorage.getItem('isPlayingVideo'))) {
                console.log('Audio is playing cannot Interupt, stop the video first.')
            // SET TO FALSE THE ('isPlayingVideo') & STOP the VIDEO iframe
                {}
            // localStorage.setItem('isPlayingVideo', false);

           } else {
            const Pdetails = document.querySelectorAll('p');
           let allPdetails = [];
          
           // console.log(Pdetails.length)
               
               if (localStorage.getItem('mode') == 'Filipino') {
                    allPdetails.push('Hanapin ang aklat na gusto mong pakinggan sa pamamagitan ng paggamit at pagsasabi ng "search" na keyword.')
               } else{
                   Pdetails.forEach(function(paragraph, index) {
                       var paragraphContent = paragraph.textContent;
                       allPdetails.push(paragraphContent);  
                   });
               };

            
               console.log(allPdetails)
              
               fetch("{% url 'audio_book' %}", {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                       'X-CSRFToken': csrfToken,
                   },
                   body: JSON.stringify({
                       details: allPdetails,
                       status: JSON.parse(localStorage.getItem('status')),
                   }),
               })
               .then(response => response.json())
               .then(data => {         
                   console.log('Success', data);
               })
               .catch((error) => {
                   console.error('Error', error);
               });
           };
        
              
       }; 
       
       // START YOUTUBE API AUDIO BOOK
       // 2. This code loads the IFrame Player API code asynchronously.
       var tag = document.createElement('script');
          
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // 3. This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.

        
          function onYouTubeIframeAPIReady() {
            var savedVideoId = localStorage.getItem('videoId');
            if (savedVideoId) {
                
                player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: savedVideoId,
                playerVars: {
                    'playsinline': 1,
                    'autoplay': 1,
                    'origin': "https://www.youtube.com",
                },
                events: {
                    'onReady': onPlayerReady,
                    // 'onStateChange': onPlayerStateChange
                }
                });  
                // localStorage.setItem('iplayer', JSON.stringify(player))
                // console.log()
            } 
          }

          // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
            event.target.playVideo();
          }
          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          // var done = false;
          // function onPlayerStateChange(event) {
          //   if (event.data == YT.PlayerState.PLAYING && !done) {
          //     setTimeout(stopVideo, 6000);
          //     done = true;
          //   }
          // }
          function changeVideo(videoId) {
            
            if (player) {
            player.loadVideoById(videoId);
            } else {
            console.error('Player not initialized!');
            }
        }
          function stopVideo() {
            
            player.stopVideo();
          }

          function pauseVideo() {
             
             console.log(player.pauseVideo())
            if (player.pauseVideo) {
              player.pauseVideo();
            } 
          }

          function playVideo() {
            // player = JSON.parse(localStorage.getItem('iplayer'))
            console.log(player.playVideo)
            if (player.playVideo) {
              player.playVideo();
            
            } 
          }

       // END YOUTUBE API AUDIO BOOK
       
       const texts = document.querySelector('#texts')
       let p = document.createElement('p')
    
        // <--- THIS IS FOR NAVIGATION AND SPEAKING LOCATION PAGE --->
        window.addEventListener('load', () => {
           
            recognition.addEventListener('result', (e) => {
            const text = Array.from(e.results)
            .map(result => result[0])
            .map(result => result.transcript)
            .join('');

            console.log(text);
            
            // Navigation -> Thru Voice 
            if(e.results[0].isFinal) {

                // <--- Feature search --->
                if (text.startsWith('search')) {
                    let output = text.replace(/^search\s*/, "")

                    // Define the endpoint URL
const url = "https://www.googleapis.com/youtube/v3/search";

// Define query parameters
const params = {
    part: "snippet",
    q: output + ' audio book',  // Replace with your search query
    type: "video",
    // videoEmbeddable: true,
    // videoLicense: "creativeCommon",
    maxResults: 1,  // Limit to 1 result
    key: "AIzaSyAc919AKSiKq0eg_pnZIYej_vH1YqVXUS8"  // Replace with your YouTube Data API key
};

// Construct URL with query parameters
const queryString = new URLSearchParams(params).toString();
const fullUrl = `${url}?${queryString}`;

// Send GET request to the API
fetch(fullUrl)
    .then(response => {
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }
        return response.json();
    })
    .then(data => {
        // Extract video details from response
        if (data.items && data.items.length > 0) {
            const videoId = data.items[0].id.videoId;
            const videoTitle = data.items[0].snippet.title;
            
            console.log("Video ID:", videoId);
            console.log("Video Title:", videoTitle);
            localStorage.setItem('videoId', videoId);
            localStorage.setItem('videoTitle', videoTitle);

            let videoContainer = document.querySelector('#player');
            //width="560" height="315"
            
            // AUDIO BOOK IFRAME API
            if (localStorage.getItem('videoId') != null) {
               changeVideo(videoId);
               localStorage.setItem('videoId', videoId);
               localStorage.setItem('videoTitle', videoTitle);
           } else {
               localStorage.setItem('videoId', videoId);
               localStorage.setItem('videoTitle', videoTitle);
               onYouTubeIframeAPIReady();
               
           }
           

            // NOTIFYING AND SPEAKING PURPOSES CODE
            fetch("{% url 'audio_book' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'Request for an Audio Book Provided.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });


            localStorage.setItem('isPlayingVideo', true);

        } else {
            console.log("No video found.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });


                    
                }; // End of request Feature Block

                if (text === 'refresh') {
                    // Reload the current page
                    location.reload();
                    
                };

                if (text === 'stop') {
                    localStorage.setItem('isPlayingVideo', false);
                    pauseVideo();
                
                }; // End for STOP keyword

                if (text === 'play') {
                    localStorage.setItem('isPlayingVideo', true);
                    playVideo();

                    if (localStorage.getItem('videoMarkup') === null) {
                            fetch("{% url 'audio_book' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                                
                            },
                            body: JSON.stringify({
                                details: 'sorry, you have not requested an Audio Book yet.',
                                status: JSON.parse(localStorage.getItem('status')),
                            }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success', data);
                        })
                        .catch((error) => {
                            console.error('Error', error);
                        });
                    };
                }; // End for CONTINUTE keyword

                // WORK HERE LATER
                // if (text === 'restart') {
                //     let videoId = localStorage.getItem('videoId');
                //     let videoTitle = localStorage.getItem('videoTitle');
                //     let markup = `<iframe id="videoFrame" class="embed-responsive-item" src="https://www.youtube.com/embed/${videoId}?start=33&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <h6 class='text-center text-white-50'>${videoTitle}</h6>`
                //     console.log('Title:',videoTitle)

                //     let iframe = document.querySelector('#videoFrame');
                //     console.log(iframe.contentWindow.document.querySelector('video'))
                //     // console.log(iframe.contentWindow.document.querySelector('video')).currentTime;
                //     localStorage.setItem('videoMarkup', markup)
                //     document.querySelector('#player').innerHTML = localStorage.getItem('videoMarkup');
                // };

                // if (text.startsWith('skip')) {
                //     let output = text.replace(/^skip\s*/, "")
                // };



                if (text.startsWith('set') && text.includes('english')){
                    if (localStorage.getItem('mode') == 'English') {
                        fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'language already set in English mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                        // speak('language already set in English mode.');
                    } else {
                        // speak('setting language to english mode.')
                        fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,    
                        },
                        body: JSON.stringify({
                            details: 'setting language to English mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                        localStorage.setItem('mode', 'English'); 
                        contentMode.textContent = localStorage.getItem('mode');
                        localStorage.setItem('status', true);    
                    }
                } else if (text.startsWith('set') && text.includes('filipino')) {
                    if (localStorage.getItem('mode') == 'Filipino') {
                        // speak('language already set in Filipino mode.');
                        fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'language already set in Filipino mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    } else {
                        // speak('setting language to filipino mode.');
                        fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'setting language to filipino mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                        localStorage.setItem('mode', 'Filipino'); 
                        contentMode.textContent = localStorage.getItem('mode');
                        localStorage.setItem('status', false);
                    }
                }

                // Starts here Keyword Voice Navigation
                if (text === 'home') {
                    window.location.href = "{% url 'index' %}"
                    fetch("{% url 'index' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to Home Page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    
                }
                else if (text === 'guidelines') {
                    window.location.href = "{% url 'guidelines' %}"
                    fetch("{% url 'guidelines' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'Going to user guidelines page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                // Audio Apps
                else if (text === 'audiobook') {
                    window.location.href = "{% url 'audio_book' %}"
                    fetch("{% url 'audio_book' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are already in audio book page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'music') {
                    window.location.href = "{% url 'audio_music' %}"
                    fetch("{% url 'audio_music' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to music page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                // Info Apps
                else if (text === 'assistant') {
                    window.location.href = "{% url 'assistantbot' %}"
                    // speak('you are going to assistant bot page.')
                    fetch("{% url 'assistantbot' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'You are going to assistant page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'time') {
                    window.location.href = "{% url 'current_time_date' %}"
                    fetch("{% url 'current_time_date' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to date and time page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    
                }
                else if (text === 'location') {
                    window.location.href = "{% url 'location' %}"
                    fetch("{% url 'location' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to location page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });     
                }
                else if (text === 'news'){
                    window.location.href = "{% url 'newsfeed' %}"
                    fetch("{% url 'newsfeed' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to news page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'motivation') {
                    window.location.href = "{% url 'motivation' %}"
                    // speak('you are going to motivation page')
                    fetch("{% url 'motivation' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'you are going to motivation page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'technology') {
                    window.location.href = "{% url 'technologies' %}"
                    // speak('You are going to technology page.')
                    fetch("{% url 'technologies' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'you are going to technology page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }

            };
        });


        recognition.addEventListener('end', (e) => {
           recognition.start(); 
        });

        recognition.start();
    });
    
   
</script>
{% endblock script %}

{% block content %}
<div class="container-lg">
    <div class="row min-vh-100 d-flex flex-column justify-content-center align-items-center ">

        <div class="col-lg-6 align-self-lg-center text-center mt-2" data-aos="fade-right">
            <h1 class="fw-bolder text-center text-white-50 "><i class="bi bi-journal-richtext"></i> Audio Book</h1>
        </div>
       
        <div class="container">
            <div class="row">
                <div class="col text-center" id="texts">
                    <!-- This is where p tags are inserted -->
                    

                    <div class="container" id="book-determined">
                        <div class="row">
                            <div class="col-lg-6 align-self-lg-center align-self-end py-5" data-aos="fade-right">
                                <h3 class="fw-bolder text-center" style="color: #CD86C9">"A Gateway to Imagination: Exploring Audiobooks Across Genres"</h3>
                                <div class="rounded-5">
                                    <p class="text-white-50">Find the book you wanted to listen by utilizing and saying the "search" keyword.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex flex-column align-items-center py-md-0 py-5 embed-responsive embed-responsive-16by9" data-aos="fade-right" id="player">

                                <img id="audiobook-gif" src="{% static 'assets/audiobook.gif' %}" width="300" class="img-fluid rounded-5">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock content %}