{% extends 'base.html' %}
{% load static %}

{% block title %}
    : Motivation
{% endblock title %}

{% block content %}
<div class="container-lg py-lg-0 pt-sm-5 mt-sm-0 mt-5">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center gap-lg-0 gap-3">

        <div class="col-lg-6 align-self-lg-center align-self-end py-5" data-aos="fade-right">
            <h1 class="fw-bolder text-center" style="color: #CD86C9">Motivation</h1>
            <div class="text-white-50 rounded-5">
                <p class="text-white-50">Motivation for the dmmmsu sluc student researchers arose when we saw that normal people can access website and get their required information without hassle. But when it gets to visually impaired people, they can't access the information even when the same holds significant value for them.</p>
                <p class="text-white-50">Our team then decided to make a sample website that contains the technologies that will help website become accessible and help blind people in interacting with the website easily by removing technological barrier.</p>
            </div>
        </div>
        <div class="col-lg-6 text-center py-md-0 py-5" data-aos="fade-right">
            <img src="{% static 'assets/motivation.png' %}" class="img-fluid rounded-5" width="350"></i>
        </div>
     
    </div>
</div>



{% endblock content %}