{% extends 'base.html' %}
{% load static %}

{% block title %}
    : Technologies
{% endblock title %}

{% block content %}
<div class="container-lg py-lg-0 pt-sm-5 mt-sm-0 mt-5">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center gap-lg-0 gap-3">

        <div class="col-lg-6 align-self-lg-center align-self-end py-5" data-aos="fade-right">
            <h1 class="fw-bolder text-center" style="color: #CD86C9">Technologies</h1>
            <div class="rounded-5">
                <p class="text-white-50">The technology stack for the project includes HTML, CSS, and Bootstrap for front-end design, JavaScript ES6 with the Speech Recognition API for client-side interactions, and Django web framework with Python, utilizing libraries such as Request and Urllib, for server-side development, creating a comprehensive web application with responsive design and integrated speech recognition capabilities.</p>
            </div>
        </div>
        <div class="col-lg-6 text-center py-md-0 py-5" data-aos="fade-right">
            <img src="{% static 'assets/technologies.jpg' %}" class="img-fluid rounded-5">
        </div>
     
    </div>
</div>
{% endblock content %}