{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:description" content="Blind Ally: An assistive web application Technology for visually impaired people.">
    <meta property="og:title" content="BlindAlly">
    <!-- <meta property="og:image" content="{% static 'assets' %}">  -->
 

    <title>BlindAlly {% block title %} {% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'assets/icon.jpg' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'assets/icon.jpg' %}" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Loader -->
    <link rel="stylesheet" href="{% static 'loader.css' %}">
    <script src="{% static 'loader.js' %}"></script>
    
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
        color: white;
    }
</style>
{% block style %}
<style>

    #home {
        background-image: url("{% static 'assets/home.jpg' %}"); 
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center; 
    }

    @media screen and (max-width: 280px) {
        .navbar-brand img {
            width: 100px;
        }
    }
    
    #nav-bg {
        backdrop-filter: blur(1000px);
        
    }

</style>
{% endblock style %}
<style>
    .dropdown-item:hover, .nav-item .nav-link:hover, #mode button:hover {
      background-color: #ffffff2d; /* Set your desired dropdown hover background color */
      /* Set your desired dropdown hover text color */
      transform: scale(1.1px);
      transition: 0.5s;
      
    }

    #mode {
      
      position: fixed;
      bottom: 20px;
      right: 20px;
    }


    /* ChatBot CSS */
    #texts p.reply {
        text-align: left;
        backdrop-filter: blur(50px);
    } 

    #texts p.request {
        text-align: right;
        backdrop-filter: blur(50px);
    }

    #scroll-pane {
        height: 400px; /* Set desired height */
        overflow-y: auto; /* Allow vertical scrollbar when content exceeds height */
       
    }
</style>
<body>
    <div class="loader"></div>

    <nav class="navbar navbar-expand-lg fixed-top rounder" id="nav-bg">
        <div class="container-lg">
            <a class="navbar-brand" href="#">
                <img src="{% static 'assets/logo-transparent.png' %}"  width="150" alt="logo">
            </a>
    

            <button class="navbar-toggler text-white border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <i class="bi bi-list-stars"></i> <span class="text-white-50">Menu</span>
            </button>

          <div class="collapse navbar-collapse text-center text-white" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-lg-3 gap-1">
                    <li class="nav-item border rounded-5">
                        <a class="nav-link rounded-5 text-white-50" aria-current="page" href="{% url 'index' %}"><i class="bi bi-house"></i> Home</a>
                    </li>
                    <li class="nav-item border rounded-5">
                        <a class="nav-link rounded-5 text-white-50" href="{% url 'guidelines' %}"><i class="bi bi-people"></i> User Guidelines</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white-50 border rounded-5" id="audioDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-volume-up"></i> Audio apps <i class="bi bi-chevron-down"></i></a>
                        <div class="dropdown-menu border text-white-50 bg-transparent bg-gradient" aria-labelledby="audioDropdown">
                            <a class="dropdown-item border rounded-5 text-white-50" href="{% url 'audio_book' %}"><i class="bi bi-journal-album"></i> Audio Book</a>
                            <a class="dropdown-item border rounded-5 text-white-50 my-2" href="{% url 'audio_music' %}"><i class="bi bi-file-music"></i> Music</a>
                
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">More Services</a>     -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white-50 border rounded-5" id="infoDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-info-circle"></i> Info apps <i class="bi bi-chevron-down"></i></a>
                        <div class="dropdown-menu border text-white-50 bg-transparent bg-gradient" aria-labelledby="infoDropdown">
                            <a class="dropdown-item border rounded-5 text-white-50" href="{% url 'assistantbot' %}"><i class="bi bi-alexa"></i> Assistant</a>
                            <a class="dropdown-item border rounded-5 text-white-50 my-2" href="{% url 'current_time_date' %}"><i class="bi bi-calendar-check"></i> Current Date and Time</a>
                            <a class="dropdown-item border rounded-5 text-white-50" href="{% url 'location' %}"><i class="bi bi-geo-alt"></i> Current Location</a>
                            <a class="dropdown-item border rounded-5 text-white-50 my-2" href="{% url 'newsfeed' %}"><i class="bi bi-newspaper"></i> News Feed</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">More Services</a>     -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white-50 border rounded-5" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots"></i> More <i class="bi bi-chevron-down"></i></a>
                        <div class="dropdown-menu border text-white-50 bg-transparent bg-gradient" aria-labelledby="moreDropdown">
                            <a class="dropdown-item border rounded-5 text-white-50" href="{% url 'motivation' %}"><i class="bi bi-ev-front"></i> Motivation</a>
                            <a class="dropdown-item border rounded-5 text-white-50 my-2" href="{% url 'technologies' %}"><i class="bi bi-gear"></i> Technologies</a>
                
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">More Services</a>     -->
                        </div>
                    </li> 

                </ul>
          </div>
          
        </div>
      </nav>

    <main>
      
        <section id="home" class="py-lg-0 py-5">
            {% block content %}
            <div class="container-lg py-lg-0 pt-sm-5 mt-sm-0 mt-5">
                <div class="row min-vh-100 d-flex justify-content-center align-items-center gap-lg-0 gap-3">
                    <div class="col-lg-6 d-flex flex-column justify-content-center " data-aos="fade-right">
                        <p class="d-lg-none d-block text-center text-white-50">Even without <span style="color: #ADD8E6">Sight</span>, there is still a <span style="color: #ADD8E6">Vision.</span></p>
                        <img class="img-fluid align-self-center rounded " src="{% static 'assets/blindally-hero.jpg' %}" width="400" alt="visually-impaired-image-hero-section">
                    </div>
                    <div class="col-lg-6 align-self-lg-center align-self-start" data-aos="fade-right">
                        <h1 class="text-center text-lg-start fw-bolder " style="color: #ADD8E6"><i class="bi bi-robot"></i> Blind Ally</h1>
                        <p class="text-white-50 text-center text-lg-start">A Holistic Exploration of Creating an Inclusive Online Experience for the <span style="color: #ADD8E6">Visually Impaired Community</span>.</p>
                    </div>

                </div>
            </div>
            {% endblock content %}
        </section>
       
    </main>

    {% block instruction %}
      <!-- Button trigger modal -->
      <button id="trigger-button" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Instruction
    </button>
  
  <!-- Modal -->
  <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" >
      <div class="modal-content" style="background-color: rgb(51, 67, 119);">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white-50" id="exampleModalLabel"><i class="bi bi-info-square-fill"></i> Instruction</h1>
          <button id="trigger-close-button" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-white-50">
            Each page has commands that only work on that specific page.
            <br>These are the available keywords, 
           <br>• home – going to home page.
           <br>• guidelines – going to user guidelines page.
           <br>• audiobook – going to audiobook page.
           <br>• music – going to music page.
           <br>• assistant – going to the assistant page.
           <br>• time – going to current date and time page.
           <br>• location – going to location page.
           <br>• newsfeed – going to Live news page.
           <br>• motivation – going to researcher’s motivation page.
           <br>• technology – going to technology used page.
    
           <br>2. Set language either English or Filipino (Tagalog),
           <br>• set Filipino – setting the language to Filipino mode.
           <br>• set English – setting the language to English mode.
    
           <br>3. Reload the Page,
           <br>• refresh – reload current page.
    
           <br>4. Know the content inside,
            <br>• details – it will read aloud the contents.
          </p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
    </div>
</div>

<audio id="audioPlayer" class="d-none" src="{% static 'audio/home.mp3' %}"></audio>
    {% endblock instruction %}
   
    {% block news %}
    {% endblock news %}

    <footer>
        <div id="mode">              
            <button id="buttonStatus" class="btn btn-sm border rounded-5"><i><i class="bi bi-translate"></i> <span id="content">English</span></i></button>
        </div>
        
    </footer>
</body>

    {% block script %}

    {% endblock script %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    {% if request.path == '/'  %}
    <script>
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        // eligible speech
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        // recognition.continuous = true;

        recognition.lang = 'en-US';
        function speak(text) {
            const msg = new SpeechSynthesisUtterance(text);

            msg.rate = 1;
            msg.volume = 1;
            msg.pitch = 1;

            window.speechSynthesis.speak(msg);
        };
        
        // console.log('This is the Status Before: ', localStorage.getItem('status'));
        // console.log('This is the Mode Before: ', localStorage.getItem('mode'));

        document.addEventListener("DOMContentLoaded", function() {
            let greetings;
            // Code to execute when the DOM is fully loaded
            console.log("DOM is fully loaded.");
            if (localStorage.getItem('mode') == 'English') {
                greetings = 'Welcome!, say the keyword "instruction" to know all the available command words and how to operate the application.'
            } else {
                greetings = 'Hello, sabihin ang keyword na instruction para malaman lahat ng pwedeng commands.'
            };
            
            fetch("{% url 'notification' %}", {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                       'X-CSRFToken': csrfToken,
                   },
                   body: JSON.stringify({
                    //    details: allPdetails,
                       details: greetings,
                       status: JSON.parse(localStorage.getItem('status')),
                   }),
               })
               .then(response => response.json())
               .then(data => {
                   console.log('Success', data);
               })
               .catch((error) => {
                   console.error('Error', error);
               });
        });

        

        if (!localStorage.getItem('status')) {
    // If not, set a pre-determined default value
            localStorage.setItem('mode', 'English'); 
            localStorage.setItem('status', true);
        };


        var csrfToken = getCookie('csrftoken');
        // console.log('This is the Token:', csrfToken);
        var currentUrl = window.location.href;

        let buttonStatus = document.getElementById('buttonStatus');
        let contentMode = document.getElementById('content');

       // displays current language mode dynamically
        if (localStorage.getItem('mode') == 'Filipino') {
            contentMode.textContent = localStorage.getItem('mode');
        } else {
            contentMode.textContent = localStorage.getItem('mode');
        }

        // TRUE for ENGLISH && FALSE for FILIPINO
        // Trigger for LocalStorage and for Dynamic values
        buttonStatus.addEventListener('click', function () {
            let status = localStorage.getItem('status');
           
        //    console.log('Hello')

           if (status === 'true') {
               localStorage.setItem('mode', 'Filipino'); 
               contentMode.textContent = localStorage.getItem('mode');
               localStorage.setItem('status', false);
           } else {
               localStorage.setItem('mode', 'English'); 
               contentMode.textContent = localStorage.getItem('mode');
               localStorage.setItem('status', true);
           }
           
        });

        // CSRF TOKEN 
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                // console.log('This is inside 2nd Cookie:', cookieValue)
                return cookieValue;
            };

        // Speaking Details Command
        function details() {
            const speakDetails = document.querySelectorAll('p');
            let theDetails = []

            speakDetails.forEach(function(par, idx){
                let parContent = par.textContent;
                theDetails.push(parContent);
            });
            
            fetch("{% url 'index' %}", {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                       'X-CSRFToken': csrfToken,
                   },
                   body: JSON.stringify({
                    //    details: allPdetails,
                       details: theDetails,
                       status: JSON.parse(localStorage.getItem('status')),
                   }),
               })
               .then(response => response.json())
               .then(data => {
                   console.log('Success', data);
               })
               .catch((error) => {
                   console.error('Error', error);
               });
        };

        // Request Details by Clicking
        if ("{{request.path}}" == '/') {
            let mainElement = document.querySelector('main');
            mainElement.onclick = function () {
           
           const Pdetails = document.querySelectorAll('p');
           let allPdetails = [];
           // console.log(Pdetails.length)

          
               Pdetails.forEach(function(paragraph, index) {
                   var paragraphContent = paragraph.textContent;
                   allPdetails.push(paragraphContent);
               });
            
            
               fetch("{% url 'index' %}", {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                       'X-CSRFToken': csrfToken,
                   },
                   body: JSON.stringify({
                    //    details: allPdetails,
                       details: allPdetails,
                       status: JSON.parse(localStorage.getItem('status')),
                   }),
               })
               .then(response => response.json())
               .then(data => {
                   console.log('Success', data);
               })
               .catch((error) => {
                   console.error('Error', error);
               });
           
       
              
            };
       
        }
        
         // AUDIO MANIPUATION - instruction
        // const audioPlayer = document.getElementById('audioPlayer');
        
        // function playAudio() {       
        //     audioPlayer.play();     
        // }
        // INSTRUCTION
        let instruction = false

        // THIS IS FOR NAVIGATION AND SPEAKING LOCATION PAGE
        window.addEventListener('load', () => {
           
            recognition.addEventListener('result', (e) => {
            const text = Array.from(e.results)
            .map(result => result[0])
            .map(result => result.transcript)
            .join('');

            console.log(text);
            
            // Navigation -> Thru Voice 
            if(e.results[0].isFinal) {
                // recognition.stop()
                if (text === 'refresh') {
                    // Reload the current page
                    location.reload();
                }
                else if (text === 'instruction'){
                    instruction = true;
                document.getElementById('trigger-button').click();
                var language = localStorage.getItem('mode');

                // Get the audio element
                var audio = document.getElementById('audioPlayer');

                // Set the source based on the language
                if (language === 'Filipino') {
                    audio.src = '{% static "audio/fil_home.mp3" %}';
                } else {
                    audio.src = '{% static "audio/home.mp3" %}';
                }

                function playAudio() {       
                    audio.play();     
                }
                playAudio();
                }

                else if (text === 'details') {
                    details();
                }

                else if (text === 'shutdown') {
                    fetch("{% url 'index' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'shutdown',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success', data);
                        })
                        .catch((error) => {
                            console.error('Error', error);
                        });
                }
                else if (text === 'secret activation') {
                    fetch("{% url 'index' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'secret activation',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success', data);
                        })
                        .catch((error) => {
                            console.error('Error', error);
                        });
                }

                else if (text.startsWith('set') && text.includes('english')){
                    if (localStorage.getItem('mode') == 'English') {
                        fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'language already set in English mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success', data);
                        })
                        .catch((error) => {
                            console.error('Error', error);
                        });
                        // speak('language already set in English mode.');
                    } else {
                        // speak('setting language to english mode.')
                        fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,    
                        },
                        body: JSON.stringify({
                            details: 'setting language to English mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                        localStorage.setItem('mode', 'English'); 
                        contentMode.textContent = localStorage.getItem('mode');
                        localStorage.setItem('status', true);    
                    }
                } else if (text.startsWith('set') && text.includes('filipino')) {
                    if (localStorage.getItem('mode') == 'Filipino') {
                        // speak('language already set in Filipino mode.');
                        fetch("{% url 'set_language' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                                
                            },
                            body: JSON.stringify({
                                details: 'language already set in Filipino mode.',
                                status: JSON.parse(localStorage.getItem('status')),
                            }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success', data);
                        })
                        .catch((error) => {
                            console.error('Error', error);
                        });
                    } else {
                        // speak('setting language to filipino mode.');
                        fetch("{% url 'set_language' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                                
                            },
                            body: JSON.stringify({
                                details: 'setting language to filipino mode.',
                                status: JSON.parse(localStorage.getItem('status')),
                            }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Success', data);
                            })
                            .catch((error) => {
                                console.error('Error', error);
                            });
                                localStorage.setItem('mode', 'Filipino'); 
                                contentMode.textContent = localStorage.getItem('mode');
                                localStorage.setItem('status', false);
                            }
                        }
                    

                // Starts here Keyword Voice Navigation
                else if (text === 'home') {
                    window.location.href = "{% url 'index' %}"
                    fetch("{% url 'index' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are already in Home Page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    
                }
                else if (text === 'guidelines') {
                    window.location.href = "{% url 'guidelines' %}"
                    fetch("{% url 'guidelines' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'Going to user guidelines page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                // Audio Apps
                else if (text === 'audiobook') {
                    window.location.href = "{% url 'audio_book' %}"
                    fetch("{% url 'audio_book' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to audio book page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'music') {
                    window.location.href = "{% url 'audio_music' %}"
                    fetch("{% url 'audio_music' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to music page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                // Info Apps
                else if (text === 'assistant') {
                    window.location.href = "{% url 'assistantbot' %}"
                    // speak('you are going to assistant bot page.')

                    fetch("{% url 'assistantbot' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'I am your assistant, How may I help you?',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'time') {
                    window.location.href = "{% url 'current_time_date' %}"
                    fetch("{% url 'current_time_date' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to date and time page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    
                }
                else if (text === 'location') {
                    window.location.href = "{% url 'location' %}"
                    fetch("{% url 'location' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to location page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });     
                }
                else if (text === 'news'){
                    window.location.href = "{% url 'newsfeed' %}"
                    fetch("{% url 'newsfeed' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'You are going to news page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'motivation') {
                    window.location.href = "{% url 'motivation' %}"
                    // speak('you are going to motivation page')
                    fetch("{% url 'motivation' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'you are going to motivation page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }
                else if (text === 'technology') {
                    window.location.href = "{% url 'technologies' %}"
                    // speak('You are going to technology page.')
                    fetch("{% url 'technologies' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'you are going to technology page.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                } else {
                     fetch("{% url 'index' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                            details: 'command not recognized',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                }

               
            };
        });


        recognition.addEventListener('end', (e) => {
            // recognition.stop();
           if (localStorage.getItem('mode') == 'Filipino') {
            if (instruction) {
                    let audio = document.getElementById('audioPlayer');
                    let audioStop = audio.duration * 1000;
                    setTimeout(function() {
                        document.getElementById('trigger-close-button').click();
                        recognition.start();
                        instruction = false;
                    }, audioStop)
                    
                } else {
                    setTimeout(function() {
                        recognition.start(); 
                    }, 5000)
                }   

           } else {
                console.log(instruction);
                if (instruction) {
                    let audio = document.getElementById('audioPlayer');
                    let audioStop = audio.duration * 1000;
                    setTimeout(function() {
                        document.getElementById('trigger-close-button').click();
                        recognition.start();
                        instruction = false;
                    }, audioStop)
                    
                } else {
                    setTimeout(function() {
                        recognition.start(); 
                    }, 3000)
                }   
           }
        });

        if (localStorage.getItem('mode') == 'Filipino') {
            setTimeout(function() {
                // console.log("Paused for 5 seconds");
                recognition.start();
            }, 5000); // 5000 milliseconds = 5 seconds

           } else {
            recognition.start();
        }
    });

    </script>
    {% endif %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
         AOS.init({
            duration: 1500,
        });
    </script>
</html>