{% extends 'base.html' %}
{% load static %}

{% block title %}
    : Guidelines
{% endblock title %}

{% block script %}
<script>
    window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    // eligible speech
    const recognition = new SpeechRecognition();
    recognition.interimResults = true;

    recognition.lang = 'en-US';
    function speak(text) {
        const msg = new SpeechSynthesisUtterance(text);

        msg.rate = 1;
        msg.volume = 1;
        msg.pitch = 1;

        window.speechSynthesis.speak(msg);
    };
    
    console.log('This is the Status Before: ', localStorage.getItem('status'));
    console.log('This is the Mode Before: ', localStorage.getItem('mode'));

    if (!localStorage.getItem('status')) {
// If not, set a pre-determined default value
        localStorage.setItem('mode', 'English'); 
        localStorage.setItem('status', true);
    };


    var csrfToken = getCookie('csrftoken');
    console.log('This is the Token:', csrfToken);
    var currentUrl = window.location.href;

    let buttonStatus = document.getElementById('buttonStatus');
    let contentMode = document.getElementById('content');

   // displays current language mode dynamically
    if (localStorage.getItem('mode') == 'Filipino') {
        contentMode.textContent = localStorage.getItem('mode');
    } else {
        contentMode.textContent = localStorage.getItem('mode');
    }

    // TRUE for ENGLISH && FALSE for FILIPINO
    // Trigger for LocalStorage and for Dynamic values
    buttonStatus.addEventListener('click', function () {
        let status = localStorage.getItem('status');
       
       console.log('Hello')

       if (status === 'true') {
           localStorage.setItem('mode', 'Filipino'); 
           contentMode.textContent = localStorage.getItem('mode');
           localStorage.setItem('status', false);
       } else {
           localStorage.setItem('mode', 'English'); 
           contentMode.textContent = localStorage.getItem('mode');
           localStorage.setItem('status', true);
       }
       
    });

    // CSRF TOKEN 
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            console.log('This is inside 2nd Cookie:', cookieValue)
            return cookieValue;
        };
        console.log('{{request.path}}')


    // Speaking Details Command
    function details() {
            const speakDetails = document.querySelectorAll('p');
            let theDetails = []

            speakDetails.forEach(function(par, idx){
                let parContent = par.textContent;
                theDetails.push(parContent);
            });
            
            fetch("{% url 'index' %}", {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                       'X-CSRFToken': csrfToken,
                   },
                   body: JSON.stringify({
                    //    details: allPdetails,
                       details: theDetails,
                       status: JSON.parse(localStorage.getItem('status')),
                   }),
               })
               .then(response => response.json())
               .then(data => {
                   console.log('Success', data);
               })
               .catch((error) => {
                   console.error('Error', error);
               });
        };


    // Request Details by Clicking
    if ("{{request.path}}" == '/user-guidelines') {
        let mainElement = document.querySelector('main');
        mainElement.onclick = function () {
       
       const Pdetails = document.querySelectorAll('p');
       let allPdetails = [];
       // console.log(Pdetails.length)

      
           Pdetails.forEach(function(paragraph, index) {
               var paragraphContent = paragraph.textContent;
               allPdetails.push(paragraphContent);
           });
        
        
           fetch("{% url 'index' %}", {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json',
                   'X-CSRFToken': csrfToken,
               },
               body: JSON.stringify({
                //    details: allPdetails,
                   details: allPdetails,
                   status: JSON.parse(localStorage.getItem('status')),
               }),
           })
           .then(response => response.json())
           .then(data => {
               console.log('Success', data);
           })
           .catch((error) => {
               console.error('Error', error);
           });
       
    //    ("{{request.path}}" === '/motivation') {
    //        fetch("{% url 'motivation' %}", {
    //            method: 'POST',
    //            headers: {
    //                'Content-Type': 'application/json',
    //                'X-CSRFToken': csrfToken,
    //            },
    //            body: JSON.stringify({
    //                key: 'tap-more-motivation',
    //                details: allPdetails,
    //                status: JSON.parse(localStorage.getItem('status')),
    //            }),
    //        })
    //        .then(response => response.json())
    //        .then(data => {
    //            console.log('Success', data);
    //        })
    //        .catch((error) => {
    //            console.error('Error', error);
    //        });
    //    } else if ("{{request.path}}" === '/technologies') {
    //        fetch("{% url 'technologies' %}", {
    //            method: 'POST',
    //            headers: {
    //                'Content-Type': 'application/json',
    //                'X-CSRFToken': csrfToken,
    //            },
    //            body: JSON.stringify({
    //                key: 'tap-more-technologies',
    //                details: allPdetails,
    //                status: JSON.parse(localStorage.getItem('status')),
    //            }),
    //        })
    //        .then(response => response.json())
    //        .then(data => {
    //            console.log('Success', data);
    //        })
    //        .catch((error) => {
    //            console.error('Error', error);
    //        });
    //    }
          
        };
   
    }
    

    // THIS IS FOR NAVIGATION AND SPEAKING LOCATION PAGE
    window.addEventListener('load', () => {
       
        recognition.addEventListener('result', (e) => {
        const text = Array.from(e.results)
        .map(result => result[0])
        .map(result => result.transcript)
        .join('');

        console.log(text);
        
        // Navigation -> Thru Voice 
        if(e.results[0].isFinal) {

            if (text === 'refresh') {
                    // Reload the current page
                    location.reload();
                };

            if (text === 'details') {
                details();
            };

            if (text.startsWith('set') && text.includes('english')){
                if (localStorage.getItem('mode') == 'English') {
                    fetch("{% url 'set_language' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'language already set in English mode.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                    // speak('language already set in English mode.');
                } else {
                    // speak('setting language to english mode.')
                    fetch("{% url 'set_language' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,    
                    },
                    body: JSON.stringify({
                        details: 'setting language to English mode.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
                    localStorage.setItem('mode', 'English'); 
                    contentMode.textContent = localStorage.getItem('mode');
                    localStorage.setItem('status', true);    
                }
            } else if (text.startsWith('set') && text.includes('filipino')) {
                if (localStorage.getItem('mode') == 'Filipino') {
                    // speak('language already set in Filipino mode.');
                    fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'language already set in Filipino mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success', data);
                    })
                    .catch((error) => {
                        console.error('Error', error);
                    });
                } else {
                    // speak('setting language to filipino mode.');
                    fetch("{% url 'set_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            
                        },
                        body: JSON.stringify({
                            details: 'setting language to filipino mode.',
                            status: JSON.parse(localStorage.getItem('status')),
                        }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success', data);
                        })
                        .catch((error) => {
                            console.error('Error', error);
                        });
                            localStorage.setItem('mode', 'Filipino'); 
                            contentMode.textContent = localStorage.getItem('mode');
                            localStorage.setItem('status', false);
                        }
                    }
                

            // Starts here Keyword Voice Navigation
            if (text === 'home') {
                window.location.href = "{% url 'index' %}"
                fetch("{% url 'index' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are going to Home Page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
                
            }
            else if (text === 'guidelines') {
                window.location.href = "{% url 'guidelines' %}"
                fetch("{% url 'guidelines' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are already in user guidelines page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }
            // Audio Apps
            else if (text === 'audiobook') {
                window.location.href = "{% url 'audio_book' %}"
                fetch("{% url 'audio_book' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are going to audio book page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }
            else if (text === 'music') {
                window.location.href = "{% url 'audio_music' %}"
                fetch("{% url 'audio_music' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are going to music page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }
            // Info Apps
            else if (text === 'assistant') {
                window.location.href = "{% url 'assistantbot' %}"
                // speak('you are going to assistant bot page.')
                fetch("{% url 'assistantbot' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({
                        details: 'You are going to the assistant page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }
            else if (text === 'time') {
                window.location.href = "{% url 'current_time_date' %}"
                fetch("{% url 'current_time_date' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are going to date and time page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
                
            }
            else if (text === 'location') {
                window.location.href = "{% url 'location' %}"
                fetch("{% url 'location' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are going to location page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });     
            }
            else if (text === 'news'){
                window.location.href = "{% url 'newsfeed' %}"
                fetch("{% url 'newsfeed' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        
                    },
                    body: JSON.stringify({
                        details: 'You are going to news page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }
            else if (text === 'motivation') {
                window.location.href = "{% url 'motivation' %}"
                // speak('you are going to motivation page')
                fetch("{% url 'motivation' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({
                        details: 'you are going to motivation page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }
            else if (text === 'technology') {
                window.location.href = "{% url 'technologies' %}"
                // speak('You are going to technology page.')
                fetch("{% url 'technologies' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({
                        details: 'you are going to technology page.',
                        status: JSON.parse(localStorage.getItem('status')),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success', data);
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }

           
        };
    });


    recognition.addEventListener('end', (e) => {
       recognition.start(); 
    });

    recognition.start();
});

</script>
{% endblock script %}

{% block content %}
<div class="container-lg py-lg-0 pt-sm-5 mt-sm-0 mt-5">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center gap-lg-0 gap-3">

        <div class="col-lg-6 align-self-lg-center align-self-end py-5" data-aos="fade-right">
            <h1 class="fw-bolder text-center" style="color: #ADD8E6"><i class="bi bi-eye"></i> User Guidelines</h1>
            <div class="text-white-50 rounded-5">
                
                <ul>
                    <p class="text-white-50">
                        <!-- <span style="color: #ADD8E6;">BlindAlly</span> - audio plays at the beginning. <br> -->
                        <span style="color: #ADD8E6;">BlindAlly</span> - has specific commands for every pages to navigate properly. <br>
                        <span style="color: #ADD8E6;">Communicate</span> - say the available keywords to request information and process request, only applicable for (news, audio books, music and chat bot). <br>
                        <span style="color: #ADD8E6;;">User</span> - requested to select desired options from the lists of options through voice. <br>
                        <span style="color: #ADD8E6;;">Speak</span> - only when entire audio stops. <br>
                        <span style="color: #ADD8E6;;">Desired web page</span> - will be redirected. <br>
                        <span style="color: #ADD8E6;;">Contents</span> - of redirected page will be read aloud. <br>
                        <!-- <span style="color: #ADD8E6;;">Double tab the screen</span> - to know current position, double tap the screen.  -->
                    </p> 
                   <p class="text-white-50"></p>
                    <p class="text-white-50"></1>
                    <p class="text-white-50"></p>
                    <p class="text-white-50"></p>
                    <p class="text-white-50"></p>
                    <p class="text-white-50"></p>
                    <p class="text-white-50"></p>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 text-center py-md-0 py-5" data-aos="fade-right">
            <img src="{% static 'assets/guidelines.jpg' %}" class="img-fluid rounded-5" width="350"></i>
        </div>
     
    </div>
</div>
{% endblock content %}