{% extends 'base.html' %}
{% load static %}

{% block title %}
    : About Us
{% endblock title %}

{% block content %}
<div class="container-lg py-lg-0 pt-sm-5 mt-sm-0 mt-5">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center gap-lg-0 gap-3">

        <div class="col-lg-6 align-self-lg-center align-self-end py-5" data-aos="fade-right">
            <h1 class="fw-bolder text-center" style="color: #CD86C9">User Guidelines</h1>
            <div class="text-white-50 rounded-5">
                <p class="text-white-50">Currently Disabled the Speech Recognition for a while.</p>
                <ul>
                    <li class="text-white-50"><span style="color: #CD86C9;">BlindAlly</span> - audio plays at the beginning.</li>
                    <li class="text-white-50"><span style="color: #CD86C9;">BlindAlly</span> - has specific commands for every pages to navigate properly.</li>
                    <li class="text-white-50"><span style="color: #CD86C9;">Communicate</span> - tap the screen once to request an information and process request, only applicable for (news, audio books, music and chatbot).</li>
                    <li class="text-white-50"><span style="color: #CD86C9;;">User</span> - requested to select desired options from the lists of options through voice.</li>
                    <li class="text-white-50"><span style="color: #CD86C9;;">Speak</span> - only when entire audio stops.</li>
                    <li class="text-white-50"><span style="color: #CD86C9;;">Desired web page</span> - will be redirected.</li>
                    <li class="text-white-50"><span style="color: #CD86C9;;">Contents</span> - of redirected page will be read aloud.</li>
                    <li class="text-white-50"><span style="color: #CD86C9;;">Double tab the screen</span> - to know current position, double tap the screen.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 text-lg-center py-md-0 py-5" data-aos="fade-right">
            <img src="{% static 'assets/guidelines.jpg' %}" class="img-fluid rounded-5" width="350"></i>
        </div>
     
    </div>
</div>
{% endblock content %}