<span class="text-white-50">
    These are the available keywords, 
   <br>• home – going to home page.
   <br>• guidelines – going to user guidelines page.
   <br>• audiobook – going to audiobook page.
   <br>• music – going to music page.
   <br>• assistant – going to the assistant page.
   <br>• time – going to current date and time page.
   <br>• location – going to location page.
   <br>• newsfeed – going to Live news page.
   <br>• motivation – going to researcher’s motivation page.
   <br>• technology – going to technology used page.

   <br>Set language either English or Filipino (Tagalog),
   <br>• set Filipino – setting the language to Filipino mode.
   <br>• set English – setting the language to English mode.

   <br>3. Reload the Page,
   <br>• refresh – reload current page.

   <br>

   <br> AUDIO BOOK Page
   <br>search – searching for an audio book online.
   <br>stop – stop the audio book.
   <br>play – play the audio book or resume the audiobook.
   <br>

  <br>MUSIC Page
  <br>search – searching for music online.
  <br>stop – stop the music.

  <br>play - play the music or resume the music.
  <br>
  
  <br>ASSISTANT Page
  <br>request – request information online. Example "request mitochondira"
  <br>

  <br>
  DATE and TIME Page
  <br>status – read aloud the current date and time of the user.

  <br>

  <br>LOCATION Page
  <br>status – read aloud the current location of the user.

  <br>News feed page
  <br>search - use search followed by the information you wanted to know like "search bitcoin".
  <br> wait - it will stop the news.
  <br> continue - it will resume the news.
  <br> exit - it will exit the news.
  <br> 
  <br>

  <br>HOME, USER GUIDELINES, MOTIVATION, TECHNOLOGY Pages
    details – read aloud the contents of the page.
 <br>
  <br> say "skip" keyword to exit the tutorial.

  </span>